*{
    box-sizing: border-box;
    font-family: Verdana;
}
    .container>div{
        border: 5px solid #984b4b;
        border-radius: 5px;
        background-color: #984b4b;
        color: white;
        /* line-height: 1.6; */
    }
    .nav{
        display: grid;
        grid-template-columns: 0.7fr 0.3fr ;
        align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 20px;
        
    }
    .nav .logo{
   
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
   .sub ul{
       list-style: none;
       display: grid;
       grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
       
   }
  
.sub ul li{
    margin: 0 5px;
}
.sub ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing:0.5px ;
   transition:all 0.3s ease;
    padding: 2px 4px;
    border-radius: 5px;
}
.sub ul li a:hover{
    color: #f8acac;
    background-color: #fff;
    background-color: #fff;
}
.sub .menu-btn i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
label{
    display: none;
}
.sub .menu-btn i{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

@media(max-width:940px){
    .sub  .menu-btn i{
        display: block;
        
    }
    .nav{
    background-color: black;
    color: white;
}
    label{
        display: block;
    }
    .sub  ul{
        position: fixed;
        left:-100%;
        height: 60vh;
        width: 85%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
        
    }
    
    #click:checked ~ ul{
        left:0%;
    }
    .sub ul li{
      margin: 40px 0px;
      width: 75%;
    }
    .sub  ul li a{
        font-size: 20px;
        display: block;
    }
    
    .sub ul li a.remove{
        display: none;
    }
    .background{
        width: auto; 
      height: 200px;
    }
    .box{
        width: auto; 
        height: 200px;
    }   
}


body{
    background-color: #fdf8f8;
    color: #c16868;
}
.sizes{
    
    width: 40px;

}

.background{
background-repeat: no-repeat;
background-size: 150px;
width: auto; 
height: 450px;
background-position:center;
color: #eb8569;
background-size:cover;
 background-image:linear-gradient(180deg,rgb(255, 255, 255,0.5), rgb(255, 255, 255,0.8)),url("new .jpg");
 display: block;
top: 0;
left: 0;

}
h1{
font-size: 35px;
margin-top: 75px;
}
p{
font-size: 30px;
font-family: "Verdana";
display: inline;

}
.box{

    width: auto; 
    height: 400px;
background-size: cover;
color: rgba(247,122,99, 0.8);
/* background-color: #fff;
opacity: 0.8; */
}
a{
    color: #f8acac;
}
a:hover{
    color: #ec7979;
}
